html {
	max-width: 1200px;
	
	/* no idea why or how it works, but it works*/
    display: block;
	margin-left: 20%;
	margin-right: 20%;
	
    background: rgb(18,24,217);
    background-color: rgba(18,24,217);
    background: url(../images/bg.gif) repeat 0 0;
}

#spike {
	vertical-align: bottom;
    border-style:solid;
	border-color:rgba(18,24,217,0.6);
    width: 10.1%;
    height: 10.1%;
    max-width: 100%;
    object-fit: cover;
}

#guestbook_table {
    width: 100%;
    height: auto;
}

#guestbook_name {
    display: block;
    text-align: center;
}

textarea {
  resize: none;
}

/* unvisited link */
a:link {
    color: #686bff;
}
  
/* visited link */
a:visited {
    color: #686bff;
}

/* mouse over link */
a:hover {
    color: #5660f1;
}

/* selected link */
a:active {
    color: #686bff;
}

.menu_link {
	position: relative;
	bottom: 1px;
}

.menu {
	width: auto;
    height: auto;
    overflow: hidden;
    background: #1218d9;
    background-color: rgba(18,24,217,0.6);
    font-weight: bold;
}

.menu a { 
    margin-right: 10px;
}

body {
	background-color: transparent;
}

p {
    font-size: large;
    margin-bottom: -5px;
}

a {
    overflow: hidden;
}

#foot {
	margin-top: 3%;
    position: relative;
    display: block;
}

.article {
    font-weight: bold;
    font-size: large;
}

.center_image {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
