#spike {
    float: left;
    border-style:solid;
    border-color:rgba(18,24,217,0.6);
    width: 10.1%;
    height: auto;
    max-width: 100%;
    object-fit: cover;
}

/* centers the website */
html {
	max-width: 1200px;
	margin: auto;
}

/* unvisited link */
a:link {
    color: #686bff;
}
  
/* visited link */
a:visited {
    color: #686bff;
}

/* mouse over link */
a:hover {
    color: #5660f1;
}

/* selected link */
a:active {
    color: #686bff;
}

.header {
    width: auto;
    height: auto;
    overflow:auto;
    background-color: rgba(18,24,217,0.6);
    top: 0;
    left:0px;
    right:0px;
}

.menu {
    display: flex;
    font-weight: bold;
    margin-top: 6.4%;
}

/* Add spacing between child elements using margins */
/* Doing this hack to ensure IE compatibility */
.menu > * {
    margin-right: 10px; /* Adjust the value as needed */
}

/* Remove margin from the last child to prevent extra spacing */
.menu > :last-child {
    margin-right: 0;
}

body {
    background: url(../images/bg.gif) repeat 0 0;
    color: white;
}

p {
    font-size: large;
    margin-left: 3px;
    margin-bottom: -5px;
}

a {
    overflow: hidden;
}

#foot {
	margin-top: 3%;
    position: relative;
    display: block;
}

.article {
    font-weight: bold;
    font-size: large;
}

.center_image {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
